<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <style>
        body {
            background-color: rgb(208, 235, 246)
        }

        #wrapper {
            width: 960px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 5%;
        }

        #header,
        #articles {
            display: inline-block;
            overflow: auto;
            width: 55%;
        }

        #articles {
            height: 700px;
        }

        .article-view:focus-within {
            background-color: rgb(163, 201, 216)
        }

        .button {
            display: block;
            width: 80px;
            height: 20px;
            background: #4E9CAF;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        #notes {
            float: right;
            width: 40%;
        }

        textarea,
        input {
            display: block;
            width: 100%;
            background-color: rgb(163, 201, 216)
        }

        input {
            height: 36px;
            font-size: 24px;
        }

        textarea {
            height: 200px;
            font-size: 18px;
        }
    </style>
    <title>Peanut Gallery</title>
</head>

<body>
    {{{ body }}}
</body>

</html>