<div id="wrapper">
    <h1>Washington Post</h1>
    <h2>
        <i>Following the news of the day
            <br/> on one of the nation's most popular news sites.</i>
    </h2>
    <div id="articles">{{#each articles}}
        <div>
            {{article}}

        </div>
        {{/each}}</div>
    <div id="notes"> {{#each notes}}
        <div>
            {{note}}
        </div>
        {{/each}}</div>
</div>